body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainpage{
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*LOG IN COMPONENT CSS*/

.mainContainerLog{
  margin-top: 300px;
}

.container_log_component{
  background-color: #60a3bc;
  width: 500px;
  height: 300px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 50px 1px rgb(27, 27, 27);
}

.tittle_container{
  margin-top: 5px;
  height: 12%;
}

.tittle{
  font-family: 'Oswald', sans-serif;
  padding-top: 10px;
  color: aliceblue;
  text-shadow: 1px 1px 15px black;  margin-top: 0;
  margin-bottom: 0;
}

.form_log{
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.input_log{
  margin-top: 20px;
  border: 0px;
}

.input_logo_place{
  text-align: center;
  outline: none;
  border:0px;
  border-radius: 20px;
  width: 400px;
  height: 50px;
}

.input_logo_place::placeholder{
  font-family: 'Oswald', sans-serif;
  color: black;
  opacity: 40%;
  font-size: 20px;
  justify-content: center;
}

.input_logo_place::first-line{
  color: black;
  font-size: 20px;
}

.log_btn{
  margin-top: 25px;
}

.log_btn button{
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 0 2px black;
  height: 40px;
  border: 0;
  background-color: #6a89cc;
  color: black;
  font-size: 20px;
  border-radius: 8px;
}

.log_btn button:hover{
  background-color: #82ccdd;
  color: black;
  border: 0;
}

/*END LOG IN COMPONEN CSS*/

/*PRODUCTS SCAN COMPONENT*/

.products_scanned{
  background-color: #60a3bc;
  border-style: solid;
  border-radius: 15px;
  height: 700px;
  width: 75%;
  margin-top: 110px;
  display: flex;
}

.products_path{
  width: 400px;
  margin-left: 10px;
  border-right: 2px solid black;
}

.products_path h1{
  text-align: center;
}

.products_info_path{
  border-left: 2px solid black;
  width: 400px;
  margin-right: 10px;
}

.products_info_path h1{
  text-align: center;
}


/*END PRODUCTS SCAN COMPONENT*/











